DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_TYPE=postgres
DB_PASSWORD="Contraseña"
DB_NAME="nombre_de_tu_bd"
TYPEORM_SYNC=True
GEMINI_API_KEY=tu_clave_larga_aqui
CULQI_SECRET_KEY=sk_test_aqui_tu_llave_secreta_de_prueba